{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Escolha</title>
  <link rel="stylesheet" href="{% static 'css/escolha.css' %}">
</head>
<body>
  <div class="login-card">
    <h2>Deseja entrar como:</h2>
    
    <a href="{% url 'login_cliente' %}"><button>Cliente</button></a>
    <a href="{% url 'login_comercio' %}"><button>Vendedor</button></a>

    <p><a href="{% url 'cadastro_cliente' %}">Clique aqui se não possui cadastro</a></p>
  </div>
</body>
</html>
