<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home_cliente' %}">Pagina inicial</a>
    <a href="{% url 'buscar_comercios' %}">Buscar comércios</a>
    <br>
    <a href="{% url 'perfil_cliente' %}">Perfil</a>
    <br>
    <a href="{% url 'comentario_cliente' %}">Comentários</a>
    <br>
    <a href="{% url 'estabelecimento_favoritados' %}">Lojas favoritas</a>
    <br>
    <a href="{% url 'meus_codigos_compra' %}">Ver meus códigos de compra</a>
    <br>
    <a href="{% url 'carrinho' %}">
        <button>Ver Carrinho de Compras</button>
    </a>

<form method="get" action="{% url 'buscar_comercios' %}">
    <label for="tipo">Filtrar por tipo:</label>
    <select name="tipo" id="tipo" onchange="this.form.submit()">
        <option value="">Todos</option>
        {% for tipo, nome in tipos %}
            <option value="{{ tipo }}" {% if tipo == tipo_selecionado %}selected{% endif %}>
                {{ nome }}
            </option>
        {% endfor %}
    </select>
</form>

<hr>

{% if comercios %}
    <ul>
        {% for comercio in comercios %}
            <li>
                <a href="{% url 'perfil_comercio_publico' comercio.id %}">
                    <strong>{{ comercio.estabelecimento }}</strong>
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum comércio encontrado.</p>
{% endif %}
    <br></br>
    <br></br>
    <a href="{% url 'home' %}">saia da sua conta</a>
</body>
</html>