<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home_cliente' %}">Pagina inicial</a>
    <a href="{% url 'buscar_comercios' %}">Buscar comércios</a>
    <br>
    <a href="{% url 'perfil_cliente' %}">Perfil</a>
    <br>
    <a href="{% url 'comentario_cliente' %}">Comentários</a>
    <br>
    <a href="{% url 'estabelecimento_favoritados' %}">Lojas favoritas</a>
    <br>
    <a href="{% url 'meus_codigos_compra' %}">Ver meus códigos de compra</a>
    <br>
    <a href="{% url 'carrinho' %}">
        <button>Ver Carrinho de Compras</button>
    </a>
    <br></br>
    <br></br>
    <h2>Seus comentários</h2>
        {% if comentarios_feitos %}
            <ul>
                {% for comentario in comentarios_feitos %}
                    <li>
                        <strong>{{ comentario.comercio.estabelecimento }}</strong> ({{ comentario.data|date:"d/m/Y H:i" }})

                        {{ comentario.texto }}
                    </li>
                    <br>
                {% endfor %}
            </ul>
        {% else %}
            <p>Você ainda não fez comentários.</p>
        {% endif %}



    {% if comercios_comprados %}
    <h2>Deixe um comentário</h2>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        <label for="comercio_id">Comércio:</label>
        <select name="comercio_id" required>
            {% for comercio in comercios_comprados %}
                <option value="{{ comercio.id }}">{{ comercio.nome }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label for="comentario">Comentário:</label><br>
        <textarea name="comentario" rows="4" cols="50" required></textarea>

        <br><br>
        <button type="submit">Enviar Comentário</button>
    </form>
{% else %}
    <p>Você ainda não realizou nenhuma compra para comentar.</p>
{% endif %}

    <a href="{% url 'home' %}">saia da sua conta</a>
</body>
</html>