<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home_comercio' %}">Página Inicial</a>
    <a href="{% url 'perfil_comercio' %}">Perfil</a>
    <a href="{% url 'estoque' %}">Estoque</a>
    <a href="{% url 'comercio_codigo_compra' %}">Estoque</a>
    <a href="{% url 'feedback_produtos' %}">Estoque</a>

    <br><br>
    <a href="{% url 'home' %}">Voltar à página inicial</a>
</body>
</html>