<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Deseja entrar como</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
    </style>
  </head>
  <body class="bg-[#2076BA] min-h-screen flex items-center justify-center font-['Inter']">
    <div class="bg-[#F7F7F7] rounded-xl shadow-md w-80 p-8 flex flex-col items-center">
      <h2 class="text-[#1E5DBF] font-semibold text-xl mb-10 w-full text-left">Deseja entrar como:</h2>
      <a href="{% url 'login_comercio' %}" class="w-full mb-8"><button type="button" class="bg-[#1E5DBF] text-white font-bold text-xl rounded-lg w-full py-3 shadow-md hover:shadow-lg transition-shadow">Vedendor</button></a>
      <a href="{% url 'login_cliente' %}" class="w-full mb-12"><button type="button" class="bg-[#1E5DBF] text-white font-bold text-xl rounded-lg w-full py-3 shadow-md hover:shadow-lg transition-shadow">Cliente</button></a>
      <p class="text-center w-full">
        <a href="{% url 'cadastro_cliente' %}" class="text-[#1E5DBF] text-xs font-semibold">Não possui conta<span class="text-[#1E5DBF] text-xs font-normal">?</span></a>
      </p>
    </div>
  </body>
</html>
