<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home_cliente' %}">Pagina inicial</a>
    <a href="{% url 'buscar_comercios' %}">Buscar comércios</a>
    <br>
    <a href="{% url 'perfil_cliente' %}">Perfil</a>
    <br>
    <a href="{% url 'comentario_cliente' %}">Comentários</a>
    <br>
    <a href="{% url 'estabelecimento_favoritados' %}">Lojas favoritas</a>
    <br>
    <a href="{% url 'carrinho' %}">
        <button>Ver Carrinho de Compras</button>
    </a>
            {% if favoritos %}
                <ul>
                {% for comercio in favoritos %}
                    <li>
                        <a href="{% url 'perfil_comercio_publico' comercio.id %}">
                            {{ comercio.estabelecimento }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Você ainda não favoritou nenhum comércio.</p>
            {% endif %}
    <br></br>
    <br></br>
    <br></br>
    <a href="{% url 'home' %}">saia da sua conta</a>
</body>
</html>