<!DOCTYPE html>
<html>
<head>
    <title>{% if form.instance.pk %}Editar Produto{% else %}Adicionar Produto{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Editar Produto{% else %}Adicionar Produto{% endif %}</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.instance.imagem %}
            <p>Imagem atual:</p>
            <img src="{{ form.instance.imagem.url }}" height="150" alt="Imagem do Produto">
        {% endif %}
    <button type="submit">Salvar</button>
</form>

    <a href="{% url 'estoque' %}">Voltar para estoque</a>
</body>
</html>
