<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home Comércio</title>
</head>
<body>
    <h1>Bem-vindo, Vendedor!</h1>
    <a href="{% url 'home_comercio' %}">pagina inicial</a>
    <a href="{% url 'perfil_comercio' %}">perfil</a>
    <a href="{% url 'estoque' %}">Estoque</a>
    <a href="{% url 'comercio_codigo_compra' %}">Estoque</a>
    <a href="{% url 'feedback_produtos' %}">Estoque</a>
    <br></br>
    <div>
  <h3>Produto mais vendido</h3>
{% if produto_mais_vendido %}
    <p>{{ produto_mais_vendido.nome }} - {{ produto_mais_vendido.vendidos }} vendidos</p>
    {% if produto_mais_vendido.imagem %}
        <img src="{{ produto_mais_vendido.imagem.url }}" height="100">
    {% endif %}
{% else %}
    <p>Nenhum produto vendido ainda.</p>
{% endif %}

<!-- Em falta no estoque -->
{% for produto in produtos_em_falta %}
    <li>
        {{ produto.nome }}
        {% if produto.imagem %}
            <br>
            <img src="{{ produto.imagem.url }}" height="80">
        {% endif %}
    </li>
{% endfor %}
    <a href="{% url 'home' %}">Volte a pagina inicial</a>
</body>
</html>