<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <a href="{% url 'home_cliente' %}">Pagina inicial</a>
    <a href="{% url 'buscar_comercios' %}">Buscar comércios</a>
    <br>
    <a href="{% url 'perfil_cliente' %}">Perfil</a>
    <br>
    <a href="{% url 'comentario_cliente' %}">Comentários</a>
    <br>
    <a href="{% url 'estabelecimento_favoritados' %}">Lojas favoritas</a>
    <br>
    <a href="{% url 'meus_codigos_compra' %}">Ver meus códigos de compra</a>
    <br>
    <a href="{% url 'carrinho' %}">
        <button>Ver Carrinho de Compras</button>
    </a>
    <h2>Perfil do Cliente</h2>
    <img src="{{ cliente.imagem_perfil_url }}" alt="Imagem de perfil" width="150" height="150">


    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}


    <button type="submit">Salvar alterações</button>
    <a href="{% url 'mudar_senha_cliente' %}">Mudar senha</a>
</form>



    <br>
    <a href="{% url 'home' %}">Voltar para a página inicial</a>
</body>
</html>
    <br></br>
    <br></br>
    <br></br>
    <a href="{% url 'home' %}">saia da sua conta</a>
</body>
</html>